<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.workindia.rapidwebview">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <provider
            android:name=".RapidWebViewFileProvider"
            android:authorities="${applicationId}.provider.rvwfileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="in.workindia.rapidwebview.activities.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent.Activity" />

        <activity
            android:name="in.workindia.rapidwebview.activities.UploadFileActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent.Activity" />

        <service android:name="in.workindia.rapidwebview.activities.service.UploadService" />
    </application>

</manifest>